# Data Preprocessing & Machine Learning Tutorial

## Introduction
By Thomas Coll
The aim of this tutorial is to give an introduction to the concepts of data preprocessing and machine learning with the aid of Python

## Before we start

[Learn about Data Science](https://www.youtube.com/watch?v=X3paOmcrTjQ)

[Learn about Python](https://www.python.org/doc/essays/blurb/)

[How to install Python](https://realpython.com/installing-python/)

[Learn about Jupyter Notebooks](https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/what_is_jupyter.html)

[Decision Tree Classifier Code](https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html)

## What is Data Preprocessing?

Data preprocessing is [defined](https://www.techopedia.com/definition/14650/data-preprocessing) as:
"Data preprocessing is a data mining technique that involves transforming raw data into an understandable format. Real-world data is often incomplete, inconsistent, and/or lacking in certain behaviors or trends, and is likely to contain many errors. Data preprocessing is a proven method of resolving such issues. Data preprocessing prepares raw data for further processing."

In short it is taking raw data and making it useful. It is a very broad topic and features several substeps:

Data Cleaning: The process of removing bad data i.e. missing values, [noisy data](https://searchbusinessanalytics.techtarget.com/definition/noisy-data) or inconsistent data 

Data Intergration: Dealing with data with conflicts within the data

Data Transformation: The normalisation, aggregation and generalisation of data. This is to say making the data consistent.

Data Reduction: Sorting data into simpler, more readable manner. e.g. the [Data Cube](https://www.techopedia.com/definition/28530/data-cube)

Data Discretisation: Converting a large number of data values into a lesser number

### Preprocessing Walkthrough

To show data preprocessing in action we will take the stack overflow developers survey, take its many rows and columns, clean and transform it

First we will import [pandas](https://pandas.pydata.org/) and our dataset. Once we have it we will drop the first row as it only holds the column names (which we already have)

In [66]:
import zipfile
import pandas as pd

unzipper = zipfile.ZipFile("stack_overflow_dev_survey.zip", 'r')
unzipper.extractall()
unzipper.close()
headings = ["Respondent", "Hobby", "OpenSource", "Country", "Student", "Employment", "FormalEducation", "UndergradMajor", "CompanySize", "DevType", "YearsCoding", "YearsCodingProf", "JobSatisfaction", "CareerSatisfaction", "HopeFiveYears", "JobSearchStatus", "LastNewJob", "AssessJob1", "AssessJob2", "AssessJob3", "AssessJob4", "AssessJob5", "AssessJob6", "AssessJob7", "AssessJob8", "AssessJob9", "AssessJob10", "AssessBenefits1", "AssessBenefits2", "AssessBenefits3", "AssessBenefits4", "AssessBenefits5", "AssessBenefits6", "AssessBenefits7", "AssessBenefits8", "AssessBenefits9", "AssessBenefits10", "AssessBenefits11", "JobContactPriorities1", "JobContactPriorities2", "JobContactPriorities3", "JobContactPriorities4", "JobContactPriorities5", "JobEmailPriorities1", "JobEmailPriorities2", "JobEmailPriorities3", "JobEmailPriorities4", "JobEmailPriorities5", "JobEmailPriorities6", "JobEmailPriorities7", "UpdateCV", "Currency", "Salary", "SalaryType", "ConvertedSalary", "CurrencySymbol", "CommunicationTools", "TimeFullyProductive", "EducationTypes", "SelfTaughtTypes", "TimeAfterBootcamp", "HackathonReasons", "AgreeDisagree1", "AgreeDisagree2", "AgreeDisagree3", "LanguageWorkedWith", "LanguageDesireNextYear", "DatabaseWorkedWith", "DatabaseDesireNextYear", "PlatformWorkedWith", "PlatformDesireNextYear", "FrameworkWorkedWith", "FrameworkDesireNextYear", "IDE", "OperatingSystem", "NumberMonitors", "Methodology", "VersionControl", "CheckInCode", "AdBlocker", "AdBlockerDisable", "AdBlockerReasons", "AdsAgreeDisagree1", "AdsAgreeDisagree2", "AdsAgreeDisagree3", "AdsActions", "AdsPriorities1", "AdsPriorities2", "AdsPriorities3", "AdsPriorities4", "AdsPriorities5", "AdsPriorities6", "AdsPriorities7", "AIDangerous", "AIInteresting", "AIResponsible", "AIFuture", "EthicsChoice", "EthicsReport", "EthicsResponsible", "EthicalImplications", "StackOverflowRecommend", "StackOverflowVisit", "StackOverflowHasAccount", "StackOverflowParticipate", "StackOverflowJobs", "StackOverflowDevStory", "StackOverflowJobsRecommend", "StackOverflowConsiderMember", "HypotheticalTools1", "HypotheticalTools2", "HypotheticalTools3", "HypotheticalTools4", "HypotheticalTools5", "WakeTime", "HoursComputer", "HoursOutside", "SkipMeals", "ErgonomicDevices", "Exercise", "Gender", "SexualOrientation", "EducationParents", "RaceEthnicity", "Age", "Dependents", "MilitaryUS", "SurveyTooLong", "SurveyEasy"]
dataset = pd.read_csv("stack_overflow_dev_survey.csv", low_memory=False)
dataset = dataset.drop([0])

We will have a quick peek at the head to get an idea of how the columns shape up

In [67]:
dataset.head(10) #Peak at the first 10 rows

,Respondent,Hobby,OpenSource,Country,Student,Employment,FormalEducation,UndergradMajor,CompanySize,DevType,...,Exercise,Gender,SexualOrientation,EducationParents,RaceEthnicity,Age,Dependents,MilitaryUS,SurveyTooLong,SurveyEasy
1,3,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","A natural science (ex. biology, chemistry, phy...","10,000 or more employees",Database administrator;DevOps specialist;Full-...,...,Daily or almost every day,Male,Straight or heterosexual,"Bachelor’s degree (BA, BS, B.Eng., etc.)",White or of European descent,35 - 44 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
2,4,Yes,Yes,United States,No,Employed full-time,Associate degree,"Computer science, computer engineering, or sof...",20 to 99 employees,Engineering manager;Full-stack developer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,5,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",100 to 499 employees,Full-stack developer,...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,No,No,The survey was an appropriate length,Somewhat easy
4,7,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Data or business analyst;Desktop or enterprise...,...,3 - 4 times per week,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,18 - 24 years old,Yes,NaN,The survey was an appropriate length,Somewhat easy
5,8,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Back-end developer;Database administrator;Fron...,...,1 - 2 times per week,Male,Straight or heterosexual,"Secondary school (e.g. American high school, G...",White or of European descent,18 - 24 years old,No,NaN,The survey was an appropriate length,Somewhat easy
6,9,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,"Computer science, computer engineering, or sof...","10,000 or more employees",Back-end developer;Front-end developer;Full-st...,...,I don't typically exercise,Male,Straight or heterosexual,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",White or of European descent,18 - 24 years old,No,No,The survey was an appropriate length,Somewhat easy
7,10,Yes,Yes,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",10 to 19 employees,Designer;Front-end developer;QA or test developer,...,1 - 2 times per week,Female,NaN,Primary/elementary school,Black or of African descent,25 - 34 years old,No,NaN,The survey was too long,Somewhat difficult
8,11,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...,Fine arts or performing arts (ex. graphic desi...,100 to 499 employees,"Back-end developer;C-suite executive (CEO, CTO...",...,I don't typically exercise,Male,Straight or heterosexual,Some college/university study without earning ...,White or of European descent,35 - 44 years old,Yes,No,The survey was an appropriate length,Very easy
9,16,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",500 to 999 employees,Designer,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17,Yes,No,Spain,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Information systems, information technology, o...","1,000 to 4,999 employees",Back-end developer;Database administrator;Mobi...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now at face value these rows look good for the most part right? But lets take a look at one in depth

In [68]:
dataset["Currency"]

1        British pounds sterling (£)
2                                NaN
3                   U.S. dollars ($)
4            South African rands (R)
5        British pounds sterling (£)
6                   U.S. dollars ($)
7                                NaN
8                   U.S. dollars ($)
9                                NaN
10                               NaN
11                               NaN
12                               NaN
13                               NaN
14                         Euros (€)
15                               NaN
16                               NaN
17              Swedish kroner (SEK)
18                               NaN
19                               NaN
20           Australian dollars (A$)
21                  U.S. dollars ($)
22       British pounds sterling (£)
23                  U.S. dollars ($)
24                 Indian rupees (₹)
25                         Euros (€)
26              Swedish kroner (SEK)
27                  U.S. dollars ($)
28                               NaN
29       British pounds sterling (£)
30                 Polish złoty (zł)
                    ...
98825                            NaN
98826                            NaN
98827                            NaN
98828                            NaN
98829                            NaN
98830                            NaN
98831                            NaN
98832                            NaN
98833                            NaN
98834                            NaN
98835                            NaN
98836                            NaN
98837                            NaN
98838                            NaN
98839                            NaN
98840                            NaN
98841                            NaN
98842                            NaN
98843                            NaN
98844                            NaN
98845                            NaN
98846                            NaN
98847                            NaN
98848                            NaN
98849                            NaN
98850                            NaN
98851                            NaN
98852                            NaN
98853                            NaN
98854                            NaN
Name: Currency, Length: 98854, dtype: object

As you can see it is littered with null values and will not do for our demo. Lets hyper focus on just a handfull of columns which are useful for our example

In [69]:
columns = ["Hobby","OpenSource","Country","Student","Employment", "FormalEducation"]
select_dataset = dataset[columns]

Now lets take a look at our lighter dataset

In [70]:
select_dataset.head(10)

,Hobby,OpenSource,Country,Student,Employment,FormalEducation
1,Yes,Yes,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
2,Yes,Yes,United States,No,Employed full-time,Associate degree
3,No,No,United States,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
4,Yes,No,South Africa,"Yes, part-time",Employed full-time,Some college/university study without earning ...
5,Yes,No,United Kingdom,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
6,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...
7,Yes,Yes,Nigeria,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
8,Yes,Yes,United States,No,Employed full-time,Some college/university study without earning ...
9,No,Yes,India,No,Employed full-time,"Bachelor’s degree (BA, BS, B.Eng., etc.)"
10,Yes,No,Spain,No,Employed full-time,"Master’s degree (MA, MS, M.Eng., MBA, etc.)"

Now even with our fewer columns we cannot be sure that they're perfect. There can easily be a NaN value hidden in there. Lets go and fix that by checking the rows for bad values. To do this we will loop through the rows and make a list of rows with bad values. We will then drop them

In [71]:
clean_dataset = select_dataset
clean_dataset = clean_dataset[pd.notnull(clean_dataset['Hobby'])]
clean_dataset = clean_dataset[pd.notnull(clean_dataset['OpenSource'])]
clean_dataset = clean_dataset[pd.notnull(clean_dataset['Country'])]
clean_dataset = clean_dataset[pd.notnull(clean_dataset['Student'])]
clean_dataset = clean_dataset[pd.notnull(clean_dataset['Employment'])]
clean_dataset = clean_dataset[pd.notnull(clean_dataset['FormalEducation'])]

Now to check it worked. The easiest way to do this would be to simply check the number of rows in the clean dataset vs the select dataset. If they are not the same then the bad rows have been removed

In [72]:
len(clean_dataset) == len(select_dataset)

False

The next step is to transform the data for future work. As the inputs are all text bar one it is time to transform them into numerical representation. 

First we will assume all yes or no columns will transform into 1 (yes) and 0 (no)

Second for the more complex columns we will in order assign them a numerical value that corresponds to the text equivalent

In [73]:
potential_options = {"Hobby": [], "OpenSource": [], "Country": [], "Student": [], "Employment": [], "FormalEducation": []}
for row in clean_dataset.itertuples():
    if row.Hobby not in potential_options["Hobby"] :
        potential_options["Hobby"].append(row.Hobby)
    if row.OpenSource not in potential_options["OpenSource"]:
        potential_options["OpenSource"].append(row.OpenSource)
    if row.Country not in potential_options["Country"]:
        potential_options["Country"].append(row.Country)
    if row.Student not in potential_options["Student"]:
        potential_options["Student"].append(row.Student)
    if row.Employment not in potential_options["Employment"]:
        potential_options["Employment"].append(row.Employment)
    if row.FormalEducation not in potential_options["FormalEducation"]:
        potential_options["FormalEducation"].append(row.FormalEducation)

Now we have a dictionary with all potential options, time to begin transformation

In [74]:
transformed_dataset = clean_dataset
transformed_dataset["Hobby"].replace(["Yes", "No"], [1,0], inplace=True)
transformed_dataset["OpenSource"].replace(["Yes", "No"], [1,0], inplace=True)
transformed_dataset["Country"].replace(potential_options["Country"], range(len(potential_options["Country"])), inplace=True)
transformed_dataset["Student"].replace(["No", "Yes, part-time", "Yes, full-time"], [0, 1, 2], inplace=True)
transformed_dataset["Employment"].replace(potential_options["Employment"], range(len(potential_options["Employment"])), inplace=True)
transformed_dataset["FormalEducation"].replace(potential_options["FormalEducation"], range(len(potential_options["FormalEducation"])), inplace=True)

Now we ensure that we have indeed transformed this properly lets peak a the head

In [75]:
transformed_dataset.head(10)

    Hobby  OpenSource  Country  Student  Employment  FormalEducation
1       1           1        0        0           0                0
2       1           1        1        0           0                1
3       0           0        1        0           0                0
4       1           0        2        1           0                2
5       1           0        0        0           0                0
6       1           1        1        0           0                2
7       1           1        3        0           0                0
8       1           1        1        0           0                2
9       0           1        4        0           0                0
10      1           0        5        0           0                3

And just like that we have cleaned our dataset and can move on

## What is Machine Learning?

Machine Learning (ML) is [defined as](https://www.expertsystem.com/machine-learning-definition/) a focus "on the development of computer programs that can access data and use it learn for themselves"

There are many methods for machine learning varying from K-Nearest Neighbors to Logistic Regression but for the context of this tutorial we will focus on Decision Trees

### Decision Tree Learning

At its core a decision tree attempts to classify and learn about an algorithm by dividing it by simple questions and deducing the odds in that manner. Consider the following example

![title](img.png)

In machine learning we can consdier each attribute fed in to be a decision (node) on the decision tree. We work our way down the tree from the root to the leaf (top to bottom) by traversing the nodes. Once we get to the leaf we have been given our prediction and thus completed what we set out to do.

### Decision Tree Walkthrough

Lets see what happens when we take the data and compare it against the likelyhood that someone will be coding as a hobby.

To begin let us import the Decision Tree Classifier and gain our train and test sets. For the context of this I will set the test size to be 10% of the dataset and the remaining 90% to be the training set.

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix

x = transformed_dataset.drop('Hobby', axis=1)  
y = transformed_dataset['Hobby'] 

X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.10)

Now lets take a Decision Tree Classifier and fit the training data and predict

In [77]:
classifier = DecisionTreeClassifier()  
classifier.fit(X_train, y_train)  
y_pred = classifier.predict(X_test)

In [78]:
print(confusion_matrix(y_test, y_pred))  
print(classification_report(y_test, y_pred))

[[  85 1684]
 [ 261 7166]]
              precision    recall  f1-score   support

           0       0.25      0.05      0.08      1769
           1       0.81      0.96      0.88      7427

   micro avg       0.79      0.79      0.79      9196
   macro avg       0.53      0.51      0.48      9196
weighted avg       0.70      0.79      0.73      9196

## Conclusion 

Overall data preprocessing and machine learning are vast and varied topics which could span thousands of lecturers and lessons. I hope though that this small and straightforward introduction into the world of preprocessing and machine learning can show you though that once you can see the trees from the forest that it is not an impossible task